* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Helvetica, sans-serif;
}

nav {
  background-color: #255EE9;
}

.container {
  max-width: 1180px;
  width: 68%;
  margin: 0 auto;
}

.row {
  height: 80px;
  line-height: 80px;
}

/* CLEARFIX */

.row::after {
  content: "";
  display: table;
  clear: both;
}

/* Logo navbar */

#logo {
  width: 25%;
  float: left;
}

#logo img {
  vertical-align: middle;
}

/* Menu centrale */

#menu {
  width: 50%;
  float: left;
  text-align: center;
}

#menu ul li {
  display: inline-block;
  margin-right: 30px;
}

#menu ul li a {
  color: #fff;
  text-decoration: none;
}

/* Link Login */

#login {
  width: 25%;
  float: right;
  text-align: right;
}

#login a {
  text-decoration: none;
  border-radius: 40px;
  background-color: #fff;
  color: #000;
  font-size: 0.9em;
  padding: 11px 14px;
  margin-right: 20px;
}

/* Jumbotron */

.jumbotron {
  background-image: url('../img/jumbo.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 500px;
}

/* titolo h1*/

.content-jumbo {
  width: 68%;
  max-width: 780px;
  margin: 0 auto;
  text-align: center;
  padding-top: 80px;
}

.content-jumbo .title-jumbo {
  color: #fff;
  font-size: 3.5em;
}

/* Testo */

.content-jumbo .text-jumbo {
  color: #fff;
  font-size: 1.2em;
  margin-top: 40px;
  margin-bottom: 30px;
  line-height: 30px;
}

.button {
  border-radius: 40px;
  padding: 15px 30px;
  font-size: 1.4em;
}

/* Link jumbotron */

.content-jumbo .link-jumbo .button {
  text-decoration: none;
  display: inline-block;
}

.content-jumbo .link-jumbo .btn-white {
  background-color: #fff;
  margin-right: 20px;
}

/* classe freccia link bianco */

.fa-solid {
  font-size: 0.7em;
  margin-right: 7px;
}

.content-jumbo .link-jumbo .btn-black {
  background-color: #23272A;
  color: #fff;
}

/* Section con colonne img e text */

.section-col {
  margin-top: 100px;
  margin-bottom: 100px;
}

.section-col::after {
  content: "";
  display: table;
  clear: both;
}

.section-col .col-img {
  width: 65%;
  float: left;
}

.section-col .col-text {
  width: 35%;
  float: left;
}

.col-text .col-title {
  
  font-size: 3em;
  margin-top: 32px;
  margin-bottom: 40px;
  color: #23272A;
}

.col-text .col-par {
  font-size: 1.3em;
}