* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Helvetica, sans-serif;
}

nav {
  background-color: #255EE9;
}

.container {
  width: 58%;
  margin: 0 auto;
}

.row {
  height: 80px;
  line-height: 80px;
}

/* CLEARFIX */

.row::after {
  content: "";
  display: table;
  clear: both;
}

/* Logo navbar */

#logo {
  width: 25%;
  float: left;
}

#logo img {
  vertical-align: middle;
}

/* Menu centrale */

#menu {
  width: 50%;
  float: left;
  text-align: center;
}

#menu ul li {
  display: inline-block;
  margin-right: 30px;
}

#menu ul li a {
  color: #fff;
  text-decoration: none;
}

/* Link Login */

#login {
  width: 25%;
  float: right;
  text-align: right;
}

#login a {
  text-decoration: none;
  border-radius: 40px;
  background-color: #fff;
  color: #000;
  font-size: 0.9em;
  padding: 12px;
  margin-right: 10px;
}

/* Jumbotron */

.jumbotron {
  background-image: url('../img/jumbo.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 570px;
}